body {
    margin: 0;
    padding: 0;
    background-color: #121112;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
}

a {
    color: #1e90ff; /* A contrasting color for the link */
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}